<h3>Login</h3>
<style>

</style>
<form action= "<%=session_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email:</label>
  <input id="email" type="email" name="user[email]">
  </label>
  <br>
  <label for="password">Password:
  <input id="password" type="text" name="user[password]">
  </label>
  <input type="submit" value="Login">
</form>
