<h1>MusicShare</h1>
<style>
  body { background-color:#cccccc;}

</style>
<form action= "<%=users_url%>" method="post">
  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]">
  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]">
</form>
